{% extends "base.html" %}
{% load static %} 

{% block title %}Random Searches{% endblock %}

{% block content %}
<div class="container">
    <h1 class="searchtitle">Start Exploring</h1>
    <ul class="search_ul">
        {% for place in random_places %}
        <li class="search_li">
            <div class="image-container">
                {% if "placeholder" in place.image.url %}
                    <img class="card-img-top" src="{% static 'images/default.png' %}" alt="placeholder image">
                {% else %}
                    <img class="card-img-top" src="{{ place.featured_image.url }}" alt="{{ place.title }}">
                {% endif %}
                <div class="image-flash">
                </div>
            </div>
            <div class="text-content">
        <strong class="place-title">{{ place.title }}</strong>
        <p class="place-location">{{ place.location }}</p>
        <p class="place-description">{{ place.description }}</p>
    </div>
            <br><a href="{% url 'book_place' place.id %}" class="btn-custom-one">Book</a>
            <br><a href="{% url 'view_comments' place.id %}" class="btn-custom-two">View Comments</a>
        </li>
        {% endfor %}
    </ul>
    <form method="GET" action="{% url 'search' %}">
        {% csrf_token %}
        <button type="submit" class="btn-custom btn-search">Generate New Plans</button>
    </form>
</div>
<br>
<br>
<br>
{% endblock %}
