{% extends "base.html" %}
{% load static %}

{% block title %}Random Searches{% endblock %}

{% block content %}
<div class="container">
    <h1 class="searchtitle">Start Exploring</h1>
    <ul class="search_ul">
        {% for place in random_places %}
        <li class="search_li">
            <div class="image-container">
                {% if "placeholder" in place.image.url %}
                    <img class="card-img-top" src="{% static 'images/default.png' %}" alt="placeholder image">
                {% else %}
                    <img class="card-img-top" src="{{ place.featured_image.url }}" alt="{{ place.title }}">
                {% endif %}
                <div class="image-flash"></div>
            </div>
            <div class="text-content">
                <strong class="place-title">{{ place.title }}</strong>
                <p class="place-location">{{ place.location }}</p>
                <p class="place-description">{{ place.description }}</p>
            </div>
            <br>
            {% if user.is_authenticated %}
                <!-- Direct link to book the place -->
                <a href="{% url 'book_place' place.id %}" class="btn-custom-one">Book</a>
            {% else %}
                <!-- Button to show the login modal -->
                <a href="#" class="btn-custom-one" onclick="showLoginModal(); return false;">Book</a>
            {% endif %}
            <br>
            <a href="{% url 'view_comments' place.id %}" class="btn-custom-two">View Comments</a>
        </li>
        {% endfor %}
    </ul>
    <form method="GET" action="{% url 'search' %}">
        {% csrf_token %}
        <button type="submit" class="btn-custom btn-search">Generate New Plans</button>
    </form>
</div>

<!-- Modal -->
{% if not user.is_authenticated %}
<div id="loginModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login Required</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You need to be logged in to book a place. Please log in to continue.</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script>
    function showLoginModal() {
        var modal = new bootstrap.Modal(document.getElementById('loginModal'));
        modal.show();
    }
</script>

{% endblock %}
